# Expo
.expo/
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Native
*.orig.*

# Node modules
node_modules/

# npm
npm-debug.log
yarn-error.log

# web
web-build/
dist/

# macos
.DS_Store

# android
android/
# ios
ios/

# other
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
